body {
    background: #e2e2e2;
}

.bg-primary{
    background: #009688;
    background-color: #009688!important;
}

.banner {
    width: 100%;
    height: 91vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/banner.jpg);
    background-size: cover;
    color: white;
}

.my-card {
    padding: 20px;
    background-color: white;
}


 /*FOR LOGIN PAGE */

.lIn{
    background-image:url('https://i.redd.it/o8dlfk93azs31.jpg');
    background-position:center;
    background-size:cover;

    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
}
.conta {
    padding: 110px;
}

.fom-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    color: #009688;
    box-shadow:0 1px 0 #cfcfcf;
}
.fom-cont{
    background:transparent!important;
    color: #009688;
    font-size: 18px!important;
    border-radius: 10px;
}
.text-white{
    color:#009688;
}
.secure {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {

}

.wrap {
    text-align: center;
}
.footer p{
    font-size: 18px;
}
/*FOR LOGIN PAGE */



/* Sidebar css */

@media only screen and (max-width: 600px){
  .sidebar{
    display: none;
    width: 80% !important;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 20px;
  }
}

.sidebar{
  width: 18%;
  background: white;
  height: 100%;
  position: fixed;
  padding-top: 45px;
  z-index: 999999999999999999999999999999999999999999999999999999999999999;
}

.sidebar a {
  display: block;
  width: 100%;
  padding: 10px 25px;
  text-decoration: none;
  color: gray;

}

.sidebar a:hover {
  background: #e2e2e2;
}

.sidebar .divider {
	height: 0.5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn{
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 36px;
  cursor: pointer;
}

.content{
  margin-left: 20%;
}

/* end of sidebar css*/